
.p1{float: left;margin-right: 30px;}
.p2{float: right;margin-left: 60px;}
.p3{float: left;margin-right: 30px;}
.p4{float: right;margin-left: 20px;}
.p5{float: left;margin-right: 20px;}
.p6{float:right; margin-left: 30px;
}
.p7{float: left;margin-right: 20px;}
.p8{float: right;margin-left: 30px;}
.p9{float: left;margin-right: 30px;}

img {display: block; margin:  auto;}

body{background-repeat: no-repeat;background-attachment: scroll;}

figcaption{color: black; text-decoration: underline; font-size: large;}