/*Global*/
body{
    background-color: #deeaf0;
}

.page{
    height:100%;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px;
}

/*Navigation styling*/
nav{
    text-decoration: none;
    color:black;
    border-bottom: 2px solid black;
    box-shadow:3px 4px 4px #023047;
    background-color: #8ecae6;
    padding:5px;
}

nav li{
    display:inline;
    margin:0;
    padding:10px;
}

nav a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

nav li:hover{
    background-color: #ffb703;
}

nav i{
    padding:5px;
}

/*Styling Home Page*/
#ganga{
    margin-left: 5%;
    width:40%;
    padding: 15px;
    border: 2px solid;
    box-shadow:5px 5px 4px #023047;
}

.container{
    display:inline-flex;
    justify-content:space-between;
}

.container section{
    padding:5%;
}

/*Styling Tours page*/
.container2{
    display:flex;
    justify-content: space-between;
    margin-left:2%;
    max-resolution: right 2%;
}

.container2 div{
    padding:10px;
    border: 2px solid;
    box-shadow:5px 5px 4px #023047;
}
.container2 img{
    width:300px;
    height:250px;
    
}