

#home h1 {position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px bold;
  font-family: 'Open Sans', sans-serif;
}

#Travel-packages > h2::after  {
  font-family: "FontAwesome";
  content: "\f3c5";
  color: #1E90FF;
  padding: 10px;
}

#Travel-packages h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px bold;
  padding: 50px;
}


.box{
  width: 200px;  
  position: relative; 
  left: 50px;  
  bottom: 50px;   

  }   
  
  .box-1 {width: 200px;  
    position: relative; 
   bottom:  100px;
    left: 50px;  
    bottom: 50px;  }

img {max-width: 100%;
height: auto;}

#Travel-packages h2 {position: relative;
left: 1px}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 15px;
}

.bottom-1 {position: absolute;
  bottom: -140px;
  left: 90px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 30px;
 font-weight: 900;
 background-color: teal 10px;
}

 .bottom-2 {position: absolute;
  bottom: -140px;
  left: 430px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 30px;
 font-weight: 900;}

 .bottom-3 {position: absolute;
  bottom: -140px;
  right: 460px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 30px;
 font-weight: 900;}

 .bottom-4 {position: absolute;
  bottom: -140px;
  right: 90px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 30px;
 font-weight: 900;}

 .tooltip:hover .tooltiptext {
  visibility: visible;
 }


  

.fas {color: #1E90FF;
  

 
/*
 #home > div {font-family: 'Open Sans', sans-serif;}
 */