h1, h2, h3 {
    text-align: center;
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(97, 97, 97, 0.274);
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  h1 {
    text-shadow: 2px 2px #1f5c21;
  }

p {
    text-align: center;
    text-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
  }

  body {
      background-color: rgb(188, 217, 224);
    color: rgb(97, 97, 97);
  }

  img {
    padding: 0%;
    height: 200px;
  }

  i {
    padding: 10px;
  }
  /* Extra stuff:
  blockquote {
    padding: 5px;
    height: 50px;
    width: 400px;
    text-align: center;
    background-color: rgba(100, 93, 126, 0.6);
    color: ivory;
  }
  */
  .tours {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .packages {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.4;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #1f5c21;
    color: rgb(208, 211, 208);
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(208, 211, 208);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  ul.pack .tours li {
    display:inline;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(51, 51, 51, 0.692);
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



  /* Style inputs of contact section */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #1f5c21;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  /* Style of the contact section */
  .contact {
    position: center;
    border-radius: 5px;
    background-color: #e5ebecd0;
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  /* Two columns that float next to each other */
  .column {
    position: center;
    float: none;
    width: 80%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .footer {
    text-align: center;
  }
